@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  @font-face {
    font-family: 'Bebas Neue'
  }

  @font-face {
    font-family: 'Poppins'
  }
}

@layer components {
  .abc li button {
    @apply w-4 h-4 rounded-full bg-white opacity-100 !important;
  }

  .abc li.slick-active  {
    @apply w-4 !important;
  }
  
  .abc li.slick-active button {
    @apply w-4 bg-gradient-to-r from-[#C1260F] to-[#EE642A] !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


